.myLists {
  display: flex;
  align-content: center;
}

.noDot {
  font-size: 22px;
  list-style-type: none;
  width: 50%;
  float: left;
  margin: 0 20px 0 0;
  margin-top: -20px;
}

.under {
  text-decoration: underline;
}

.yellow {
  border-color: #FFD700;
  border-width: 2;
}

/*
#301934 purple
#FFD700 gold
#21b2a6
#a6e0db
#2e3842
#505393
#d3d4e4
#b9bad4
#2E3842
#dfdfdf
*/